*, html, body
{
    padding:0;
    margin:0;
}
body
{
    height: 3000px;
}
header
{
    background-color: blueviolet;
    padding: 14px;
    position: fixed;
    z-index: 1;
    width:100%;

}
.nav img
{
    height: 80px;
    width: 120px;
    margin-top: 10px;
    background-color: blueviolet;
}
.nav ul li a:hover
{
    color:red;
}
 .nav ul li a
{
    text-decoration: none;
    color: white;
}

ul
{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    float: right;
}
li{
    float: left;
    margin-right: 70px;
    text-decoration: none;
    margin-top: 46px;
}
.slider, .slider ul, .slider ul li
{
    height: 790px;
    width: 100%;
    color:white;
    text-align: center;
}
.img1
{
    background-image:url(forest.jpg);
    background-size: 100% 100%;
    margin-right: 490px;

}
.slider h2
{
    font-weight: bold;
    margin-top: 270px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slider span{
    color: darkred;
}
.slider a
{
    padding: 10px 40px;
    margin-right: 10px;
}
.slider a.btn-success
{
    background-color: blueviolet;
    border:none;
}
.slider a.btn-primary
{
    border:none;
}
.slider a.btn-primary:hover
{
    background-color: chartreuse;
}
.slider a.btn-success:hover
{
    background-color: chartreuse;
}
.img2
{
    background-image: url(security.jpg);
    background-size: 100% 100%;
}
.img3
{
    background-image: url(picography-laptop-bed-small-1-600x400.jpg);
    background-size: 100% 100%;
}